.features {
    padding-bottom: 44px;
    &__container {
      background: #FFFFFF;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        padding: 43px 62px 43px 12px;
     
    }
&__item{
    margin-bottom: 48px;
}
    &__num {
        margin-left:38px;
        border-radius: 50%;
        flex-shrink: 0;
        color: #45494F;
        font-weight: bold;
        font-size: 17px;
        line-height: 35px;
        letter-spacing: -0.4px;
        width: 22px;
        height: 22px;
        border: 1px solid #45494F;
        margin-right: 25px;
    }
    &__title{
        margin-bottom: 71px;
    }
    &__column:not(:last-child){
      

    }
} 