.order {
padding-bottom: 54px;
    border-bottom: 2px solid #EEF0F4;
   
&__link{
    white-space:nowrap;
}
    &__title {
        font-size: 34px;
        line-height: 43px;
        padding-top: 30px;
        white-space:nowrap;
    }

    &__container {
        padding-top: 73px;
    }

    &__btn {
        width: 306px;
        padding: 21px;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        border: 1px solid #FFFFFF;
        border-radius: 12px;
        position: relative;
    }
    &__btn svg{
        position: absolute;
        top: 27px;
        left: 0;
    }

    &__content {
        padding-right: 30px;
    }
}
@media(max-width:1200px){
    .order__title {
        
        white-space:normal;
        text-align: center;
    }
}

@media(max-width:768px){
    .order{
        padding: 0 24px;
    }
    .logo-2{
        order: 1;
        justify-content: center;
    }
    .order__title-block{
        order: 2;
    }
    .order__content {
        margin-top: 37px;
        order: 3;
    }
    .order__title{
        padding-top: 27px;
    }
    .order__btn{
        width: 100%;
    }
  
}